*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background:#000;
    display: flex;
}
.header__logo{
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}
nav{
    margin-top: 56px;
    margin-left: 29%;
}
.topnav a{
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}
.topnav a:hover{
  border-bottom: 3px solid #fcac45;
  }
  
.topnav .icon{
    display: none;
}


main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main__welcome{
    background: black;
    text-align: center;
    padding: 200px 0 410px 0;
}
main .main__welcome p{
    color: #999999;
    font-size: 20px;
}
main .main__welcome h1{
    color: #999999;
    font-size: 44px;
}
.mycompany{
    color: #fcac45;
}
.wrapper{
    width: 76%;
    margin: 0 auto;
}
main .main__about{
    display: flex;
    padding: 100px 0 100px 0;
}
.about__right{
    margin-left: 170px;
}
.about__right h1{
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
}
.about__right p{
    margin: 30px 0 50px 0;
    color: #6c6c6c;
}

.about__right li{
    background: url(img/li.png) 0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;
}
.mw-100{
    min-width: 100%;
}

.main__team{
    background: black;
    text-align: center;
    padding: 100px 0 165px 0;
    color: white;
}
.main__team h1{
    font-size: 44px;
    padding-bottom: 30px;
}
.line{
    width: 100px;
    height: 3px;
    background: #fcac45;
    position: relative;
    left: 45.5%;
    margin-bottom: 85px;
}
.photo{
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}
.team__cards{
    display: flex;
}
.card{
    margin: 0 40px;
}
.name{
    font-size: 20px;
    margin-bottom: 7px;
}
.position{
    font-size: 16px;
    margin-bottom: 35px;
}
.about__position{
    font-size: 14px;
}
.services__cards{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}
.main__services h1{
    text-align: center;
    padding: 100px 0 30px 0;
}
.main__services p{
    color: #6c6c6c;
    margin-bottom: 100px;
}
.services__card h4{
    margin-top: 20px;
    margin-bottom: 15px;
}

.main__clients{
    background: black;
    padding: 100px 0 205px 0;
    color: white;
    text-align: center;
}
.main__clients h1{
    margin-bottom: 30px;
}
.main__clients img{
    margin-left: 30px;
}

.gallery{
    background:white;
    padding: 100px 0 205px 0;
    color: black;
    text-align: center;
}

.gallery  h1{
    font-size: 44px;
    padding-bottom: 30px;
}
.photos {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    
}


/* Adaptive settings */
@media screen and (max-width:1273px){
    nav{
        margin-left: 20%;
    }
    @media screen and (max-width:1105px){
        nav{
            margin-left: 10%;
        }
}

@media screen and (max-width:1010px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -15px;
        display: block;
        color: white;
        font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top:50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top:-50px;
        right:-200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }



    main .main__welcome{
        padding: 50px 0 50px 0;
    }
    main .main__welcome p{
        font-size: 14px;
    }
    main .main__welcome h1{
        font-size: 25px;
    }
    .mw-100{
        max-width: 100%;
    }
    .main__about{
        flex-direction: column;
    }
    .about__right{
        text-align: center;
        margin-left: 0;
    }
    .about__right li{
        text-align: left;
    }
    .about__right h1{
        margin-top: 10px;
        font-size: 20px;
    }
    .team__cards{
        flex-direction: column;
    }
    .services__cards{
        grid-template-columns: auto;
    }
    .photos{
        grid-template-columns: auto;
    }
}